<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ content_for_header }}
    <title>{{ page_title }}</title>
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <header>
      <h1>{{ shop.name }}</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Produtos</a></li>
          <li><a href="/contact">Contato</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content_for_layout }}
    </main>

     <footer>
        <h3>{{ shop.name }}</h3>
        <p>Apoio Shakers</p>
        <p>&copy; {{ 'now' | date: '%Y' }} Pedro Calazans. Todos os direitos reservados.</p>
        <p></p>
    </footer>
  </body>
</html>
